@media all and (min-width: 480px) {
  .AdminTeachingRequestManagement {
    padding: 60px 0;
  }

  .AdminTeachingRequestManagement form {
    margin: 0 auto;
    max-width: 320px;
  }

  .AdminTeachingRequestManagement-logout {
    text-align: right;
  }

  .AdminTeachingRequestManagement-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    padding: 10px;
    grid-gap: 0cm;

  }

    .AdminTeachingRequestManagement-grid-item1 {
      /*border: 1px solid rgba(0, 0, 0, 0.8);*/
      text-align: justify;
      grid-column: 1/span 2;
      grid-row: 1;

    }

    .AdminTeachingRequestManagement-grid-item2 {
      /*border: 1px solid rgba(0, 0, 0, 0.8);*/
      text-align: right;
      grid-column: 7;
      grid-row: 1;

    }

    .AdminTeachingRequestManagement-grid-item3 {
      /*border: 1px solid rgba(0, 0, 0, 0.8);*/
      text-align: center;
      grid-column: 1;
      grid-row: 6;

    }

    .AdminTeachingRequestManagement-grid-item4 {
      /*border: 1px solid rgba(0, 0, 0, 0.8);*/
      text-align: left;
      grid-column: 6/span 2;
      grid-row: 6;
    }
    .AdminTeachingRequestManagement-grid-item5{
      /*border: 1px solid rgba(0, 0, 0, 0.8);*/
      text-align: center;
      font-size: large;
      grid-column: 2/span 2;
      grid-row: 6;
    }

  .AdminTeachingRequestManagement-grid-item6 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: center;
    grid-column: 6/span 2;
    grid-row: 8;

  }

  .AdminTeachingRequestManagement-grid-item7 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: center;
    grid-column: 2/span 2;
    grid-row: 10;

  }
}