@media all and (min-width: 480px) {
  .AttendantNavigation {
    padding: 60px 0;
  }

  .AttendantNavigation form {
    margin: 0 auto;
    max-width: 320px;
  }

  .AttendantNavigation-logout {
    text-align: right;
  }

  .AttendantNavigation-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    padding: 10px;
    grid-gap: 0cm;

  }
/*Title:navigation page*/
  .AttendantNavigation-grid-item1 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: justify;
    grid-column: 1/span 4;
    grid-row: 2;

  }
 /*user*/
  .AttendantNavigation-grid-item2 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: right;
    grid-column: 11;
    grid-row: 1;
  }
  /*personal settings*/
  .AttendantNavigation-grid-item3 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    grid-column: 11;
    grid-row: 2;

  }
/*edit users */
  .AttendantNavigation-grid-item4 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: left;
    grid-column: 11;
    grid-row: 3;
  }
  /*logout*/
  .AttendantNavigation-grid-item5{
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: left;
    font-style: oblique;
    font-size: large;
    grid-column: 11;
    grid-row: 4;
  }
/*animal name*/
  .AttendantNavigation-grid-item6 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: justify;
    grid-column: 2/span 2;
    grid-row: 5;

  }
/*text box*/
  .AttendantNavigation-grid-item7 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: justify;
    grid-column: 3;
    grid-row: 5;

  }
/*species*/
  .AttendantNavigation-grid-item8 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: center;
    grid-column: 4;
    grid-row: 5;

  }
  /*species text box*/
  .AttendantNavigation-grid-item9 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    grid-column: 5;
    grid-row: 5;
  }
  /*breed*/
  .AttendantNavigation-grid-item10{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    font-style: oblique;
    font-size: large;
    grid-column: 6;
    grid-row:5;
  }
  /*breed box*/
  .AttendantNavigation-grid-item11 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: justify;
    grid-column: 7;
    grid-row: 5;
  }
  /*status*/
  .AttendantNavigation-grid-item12{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    font-style: oblique;
    font-size: large;
    grid-column: 8;
    grid-row:5;
  }
  /*status box*/
  .AttendantNavigation-grid-item13 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: justify;
    grid-column: 9;
    grid-row: 5;
  }
  /*Results Title*/
  .AttendantNavigation-grid-item14{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: justify;
    grid-column: 9;
    grid-row:6;
  }
  /*Results Title*/
  .AttendantNavigation-grid-item15{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    font-style: oblique;
    font-size: large;
    grid-column: 6;
    grid-row:10;
  }
  /*result*/
  .AttendantNavigation-grid-item16 {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: justify;
    grid-column: 3/span 9;
    grid-row: 11;
  }
}